.specific-config-box {
    border: solid 1px #C7CDD1;
    border-radius: 5px;
  }
  

.date-input-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin: 5px 10px 0;

    .triangle-button {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-size: 1.8rem;
    }

    &:hover {
        cursor: pointer;
    }
}